<div>
  <%= @doc.title %><br>
  <%= @doc.content %><br>
</div>

<div>
  <%= link_to "All Docs", docs_path %>|
  <%= link_to "fix Doc", edit_doc_path(@doc) %>|
  <%= link_to "Trash it", doc_path(@doc), method: :delete, data: {confirm: "Are you sure?"} %>
</div>
