<% @users.each do |user|%>
      <tr>
         <td><%= user.id %></td>
         <td><%= user.name %></td>
         <th><%= user.is_deleted %></td>

    <div><td class='Action'>
               <%=link_to 'Show',user_path(user) %>
               <%=link_to 'Edit',edit_user_path(user) %>
               <%=link_to "Delete",user_path(user),method: :delete,data: {confirm: "Are you sure you want to delete this user?"}%>
               <% if (user.is_deleted) %> 
               <%= link_to 'Revert',user_is_delete_path(user), method: 'patch', remote: true %>
               <% else %>
               <%= link_to 'is_delete',user_is_delete_path(user),method: 'patch', remote: true %>
               <%end%>
            </td></div>
      </tr>
      <%end%>