<div><h2>Users:</h2></div>

  <div >
       <%= form_tag(users_path, method: 'get', :remote=> true) do %>
       Name <%= text_field_tag :search, params[:search] %>
       <%= submit_tag 'Search' %>
       <% end %>
  </div>

<div>
   <table class="index_table">
   <thead id="head">
      <tr>
         <th><%= sortable "id", "ID" %></th>
         <th><%= sortable "name", "Name" %></th>
         <th><%= sortable "is_deleted", "Delete Status" %></th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody id="ajax">
      <%= render 'index' %>
   </tbody>
   </table><br>

<div>
  <% if @page == 0 %>
    <%= link_to "<<Previous", users_path(page: 0), remote: true%>
  <% else %>
    <%= link_to "<<Previous", users_path(page: @page - 1), method: 'get',remote: true %>
  <% end %>
  <%= link_to "1", users_path(page: 0), method: 'get', remote: true %>
  <%= link_to "2", users_path(page: 1), method: 'get', remote: true %>
  <%= link_to "3", users_path(page: 2), method: 'get', remote: true %>
  <%= "..." %>
  <% if @page > (@records/5).ceil-1 %>
    <%= link_to "Next>>", users_path(page: (@records/5).ceil), remote: true %>
  <% else %>
    <%= link_to "Next>>", users_path(page: @page + 1), remote: true %>
  <% end %>
</div><br><br>




   <div><%= link_to 'Add New user',new_user_path %></div></br>
</div>


