<div><h2>Users:</h2></div>

  <div >
       <%= form_tag(users_path, method: 'get', remote: true) do %>
       Name <%= text_field_tag :search, params[:search] %>
       <%= submit_tag 'Search' %>
       <% end %>
  </div>

<div>
   <table class="index_table">
   <thead>
      <tr>
         <th><%= link_to "Id", sort: :id %></th>
         <th><%= link_to "Name", sort: :name %></th>
         <th><%= link_to "Delete Status", sort: :is_deleted %></th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody id="ajax">
      <%= render 'index' %>
   </tbody>
   </table><br>




   <div><%= link_to 'Add New user',new_user_path %></div></br>
</div>


