<div><h2>Users:</h2></div>

<div><%= link_to'Add New user',new_user_path %></div></br>

<div>
   <table class="index_table">
   <thead>
      <tr>
         <th>id</th>
         <th>Name</th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody>
      <% @users.each do |user|%>
      <tr>
         <td><%= user.id %></td>
         <td><%= user.name %></td>
    <div><td class='Action'>
               <%=link_to 'Show',user_path(user) %>
               <%=link_to 'Edit',edit_user_path(user) %>
               <%=link_to "Delete",user_path(user),method: :delete,data: {confirm: "Are you sure you want to delete this user?"}%>
               <%= link_to 'Is_Delete',{controller: "users",action: "is_delete", id: user.id} %></div>
      </tr>
      <%end%>
   </tbody>
   </table>
</div>
