<div><h2>Users:</h2></div>

<div><%= form_tag(users_path, method: :get) do %>
  Name <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %></div>

<div>
   <table class="index_table">
   <thead>
      <tr>
         <th>id</th>
         <th>Name</th>
         <th> delete_status </th>
         <th>Actions</th>
      </tr>
   </thead>
   <tbody id="ajax">
      <%= render partial: 'ajax' %>
   </tbody>
   </table><br>

   <div><%= link_to'Add New user',new_user_path %></div></br>
</div>
