<div class="Users">

  <div><h2>User Details:</h2></div></br>


  <div class="text-align">
    <strong>id :</strong>
    <%= @user.id %>
  </div>
  <div>
    <strong>Name :</strong>
    <%= @user.name %>
  </div>
  <div>
    <strong>email :</strong>
    <%= @user.email %>
  </div>
  <div>
    <strong>contact:</strong>
    <%= @user.contact %>
  </div>
  <div>
    <strong>password:</strong>
    <%= @user.password %>
  </div>
  <div>
    <strong>Created:</strong>
    <%= @user.created_at %>
  </div>
  <div>
    <strong>Updated:</strong>
    <%= @user.updated_at %>
  </div>
</div><br>



<div class="back_link"><%= link_to'Back',users_path %></div>  
<div class="soft_delete"><%= link_to 'Is_Delete',user_is_delete_path(@user) %></div>
<div class="associated_links "><%= link_to'Reviews',user_reviews_path(@user) %></div>
<div><%= link_to 'Log Out', books_path %></div>


</div>
