<p id="notice"><%= notice %></p>

<p>
  <strong>Title: </strong>
  <%= @post.title %>
</p><br>

<div>
	<img src="<%= @post.avatar if @post.avatar? %>" height="42" width="42">
</div><br>

<p>
  <%= @post.content %>
</p><br>

<div>
 <video id="myVideo" width="320" height="176" controls>
 <source src="<%= @post.video %>" type="video/mp4">
 </video>
</div><br>
<!-- <p>Playback position: <span id="demo"></span></p> -->

<% if @post.user == current_user || current_user.try(:admin?) %>
 <%= link_to 'Edit', edit_post_path(@post) %>
<% end %><br>

<%= commontator_thread(@post) %><br>

<%= link_to 'Back', posts_path %>


