<div class="reviews">

  <div><h2>Review Details:</h2></div></br>

<div class="Review_rep">
  <div>
    <label>Id :</label>
    <%= @review.id %>
  </div>
  <div>
    <label>Book :</label>
    <%= @review.book %>
  </div>
  <div>
    <label>User :</label>
    <%= @review.user %>
  </div>
  <div>
    <label>Rating :</label>
    <%= @review.rating %>
  </div>
   <div>
    <label>Created at :</label>
    <%= @review.created_at %>
  </div>
  <div>
    <label>Updated at :</label>
    <%= @review.updated_at %>
  </div>
</div><br>

<div class="Back_link">  <%= link_to'Back',reviews_path %> </div>

</div>